@import "./base.css";
#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

.dark {
  background-color: var(--dark-body);
  &.edge-columns {
    &::after {
      color: #fff;
    }
  }
}
[data-theme="dark"] {
  background-color: var(--dark-body);
}
